 <html>
  <head>HEY!</head>
  <body>
    <p>
      The number is: <%= n %>
    </p>
    <p>
      Your guess is: <%= g %>      
    </p>
    <p>
      <%= m %>
    </p>
    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!'/>
    </form>
  </body>
</html>
